{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a style="text-decoration: none;" href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</main>
{% endblock content %}

{% comment %} {% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
        <link rel="stylesheet" href="{% static "css\recipes.css" %}">
    </head>
        <body>
            <header>
                <nav>
                    <a style="text-decoration: none;" href="{% url 'recipe_list' %}">Main Page</a>
                </nav>
            </header>
            <main>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </main>
            <footer>Made with love by Scrumptious Recipes</footer>
        </body>
</html> {% endcomment %}
