{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }}
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a style="text-decoration: none;" href="{% url 'recipe_list' %}">Main Page</a>
        <a style="text-decoration: none;" href="{% url 'edit_post' recipe_object.id %}">Edit Post</a>
    </nav>
</header>
<main>
    <h1>{{ recipe_object.title }}</h1>
    <img src="{{ recipe_object.picture }}" alt="">
    <div>4.3 stars</div>
    <p>{{ recipe_object.description }}</p>
    <h2>Ingredients</h2>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Food Item</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
        {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
        {% endfor %}
    </ol>
</main>
{% endblock content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
        <link rel="stylesheet" href="{% static "css\recipes.css" %}">
    </head>
        <body>
            {% comment %} <header>
                <nav>
                    <a style="text-decoration: none;" href="{% url 'recipe_list' %}">Main Page</a>
                    <a style="text-decoration: none;" href="{% url 'edit_post' recipe_object.id %}">Edit Post</a>
                </nav>
            </header> {% endcomment %}
            {% comment %} <main>
                <h1>{{ recipe_object.title }}</h1>
                <img src="{{ recipe_object.picture }}" alt="">
                <div>4.3 stars</div>
                <p>{{ recipe_object.description }}</p>
                <h2>Ingredients</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Food Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1 cup</td>
                            <td>Green beans</td>
                        </tr>
                        <tr>
                            <td>3 ears</td>
                            <td>Fresh corn</td>
                        </tr>
                        <tr>
                            <td>2 cups</td>
                            <td>Tomatillo Salsa</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Corn tortillas</td>
                        </tr>
                        <tr>
                            <td>0.5 cups</td>
                            <td>Cotija cheese</td>
                        </tr>
                    </tbody>
                </table>
                <h2>Steps</h2>
                <ol>
                    <li>Blanch the green beans</li>
                    <li>Grill the green beans and the ears of corn</li>
                    <li>Chop the green beans</li>
                    <li>Slice the corn off the cob</li>
                    <li>Grill the tortillas</li>
                    <li>Assemble the tacos with veggies, salsa, and cheese</li>
                </ol>
            </main> {% endcomment %}
            <footer>Made with love by Scrumptious Recipes</footer>
        </body>

</html>
