{% extends 'base.html' %}
{% block title %}
Scrumptious recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a class="hyperlink" style="text-decoration:none" href="{% url 'recipe_list' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a class="account" style="text-decoration:none" href="{% url 'create_recipe' %}">Create a Recipe</a>
        <a class="account" style="text-decoration:none" href="{% url 'my_recipe_list' %}">My recipes</a>
        <a class="account" style="text-decoration:none" href="{% url 'logout_user' %}">(log out)</a>
        Hello, {{ user.username }}
        {% else %}
            <a class="account" style="text-decoration:none" href="{% url 'signup' %}">Sign up</a>
            or
            <a class="account" style="text-decoration:none" href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="four-by-four-grid">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a style="text-decoration: none;" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
                <img src="{{ recipe.picture }}" alt="">
                <p></p>
                <div>4.3 stars</div>
                <p>{{ recipe.created_on|date:"j M Y" }}</p>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
