/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    margin: 0px;
    background-color: beige;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    background-color: #F5F100;
    font-size: large;
}

h1 {
    color: blue;
}

img {
    height: 200px;
}

div {
    /* display: grid;
    grid-template-columns: 4;
    flex-direction: column; */
    /* border: 1px solid black; */
    align-items: center;
    padding-left: 5px;
}

a {
    color: black;
    /* border: 5px solid black; */
}

a:hover {
    font-size: larger;
    background-color: lightgray;
    width: 10px;
    font-weight: bold;
}

a:visited {
    text-emphasis-color: solid black;
}

nav {
    border-bottom: 5px solid black;
    padding: 16px;
    background-color: #F5a240;
    font-size: large;
    text-emphasis-color: white;
}

.four-by-four-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    /* border: 1px solid black; */
  }

  /* .grid-item {
    border: 1px solid red;
  } */

tr:nth-child(even) {
    background-color: lightgrey;
}
